/* Alert.css */
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000006c;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}



.custom-alert button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}