@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    opacity: 0.9;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: rgb(21, 21, 21);
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='65' stroke-opacity='0.04' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.8);
}

.head {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 0;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8); */
    box-shadow: rgba(17, 17, 26, 0.9) 4px 4px 4px;
}


.container {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    cursor: default;
    color: rgba(255, 255, 255, 0.781);
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    padding-right: 8px;
    border-radius: 2px;
    opacity: 0.8;
    margin: 2px 4px;
}

/* .header {
    font-family: 'Geologica', sans-serif;
    display: flex;
    width: 2.2rem;
    font-size: 1rem;
    border-radius: 5px;
    width: fit-content;
    margin: 0 4px;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.781);
} */

.logo {

    width: 3.2rem;
    background-color: #ff9d00;
    padding: 3px;
    margin: auto 8px;
    border: 2px solid white;
    border-radius: 5rem;

}

p {
    padding: 5px;
    display: flex;
    justify-content: center;
    cursor: default;

}


.main_container {
    margin-top: 20px;
    border-radius: 5rem;
}

.search_container {
    display: flex;
    /* border: 2px solid green; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    border-radius: 5rem;
    margin-bottom: 20px;
}

input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background: #ffffff37;
    color: white;
    border: none;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9); */
}

input:focus {
    outline: none;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.858);
}

.clear_button,
.search_button {
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9); */
    font-size: 1rem;
    cursor: pointer;
}

.clear_button {
    background: #ffffff37;
    color: white;
    padding: 0 2px;
    font-size: 1rem;
    border: none;
}

.search_button {
    padding: 10px 20px;
    /* background-color: #007bff; */
    background-color: #ef6c00;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    /* transition: all 0.3s ease 0s; */
    /* background-color: #ff9d00; */

    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    color: #fff;
    border: none;
}


.results_container {
    margin-top: 20px;
}

.results_container>div {
    margin-bottom: 10px;
}

h4 {
    margin-top: 20px;
}


/* Media queries for responsiveness */
@media (max-width: 1279px) {
    .container {
        padding: 2px 10px;
    }
}